:root {
  --riot-main: #FA4753;
  --riot-dark: #17181C;
  
  --gotham-main: #6E5DCF;

  --ghost-50: #eef1f9;
  --ghost-100: #d3d6de;
  --ghost-200: #b7bbc5;
  --ghost-300: #9ba0af;
  --ghost-400: #7e8598;
  --ghost-500: #646b7e;
  --ghost-600: #4e5363;
  --ghost-700: #383c47;
  --ghost-800: #21242c;
  --ghost-900: #090c14;
}


